/* A little pizzazz borrowed from http://bettermotherfuckingwebsite.com/, because why not? */
body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:24px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}

/* ismarchoveryet.com specific styling: */
body {
}
header {
  font-family: alda,serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-weight: 400;
}
main {
  text-align: center;
}
main p {

}
main date {
  font-family: fairplex-narrow, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 150%;
}
#weekday, #year {
  display: block;
}
#month, #numericday, #ordinal {
  font-size: 200%;
}
footer {
  position:fixed;
  bottom: 0;
}
